<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Đăng ký tài khoản</title>

    <link rel="icon" th:href="@{/resource/img/favicon.png}" type="image/png" sizes="16x16">

    <!-- vendor css -->
    <link th:href="@{/lib/@fortawesome/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/lib/select2/css/select2.min.css}" rel="stylesheet">
    <!-- Bracket CSS -->
    <link rel="stylesheet" th:href="@{/css/bracket.css}">
    <script>
        function validatePassword() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            var message = document.getElementById("message");

            if (password !== confirmPassword) {
                message.style.color = "red";
                message.textContent = "Passwords do not match.";
            } else {
                message.style.color = "green";
                message.textContent = "Passwords match.";
            }
        }
    </script>
</head>

<body>

<div class="row no-gutters flex-row-reverse ht-100v">
    <div class="col-md-6 bg-gray-200 d-flex align-items-center justify-content-center">
        <div class="login-wrapper wd-250 wd-xl-350 mg-y-30">
            <h4 class="tx-inverse tx-center">Sign Up</h4>
            <p class="tx-center mg-b-60">Create your own account.</p>


            <form th:action="@{/register}" method="post">
                <div class="form-group">
                    <input type="text" pattern="[a-zA-Z0-9._]+" class="form-control" placeholder="Enter your username"
                           id="username"
                           name="username" th:value="${user.username}" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your fullname" id="fullName"
                           name="fullName" th:value="${user.fullName}" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your address" id="address"
                           name="address" th:value="${user.address}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your phone" id="phone"
                           name="phone" th:value="${user.phone}" pattern="\d{10}" title="Vui lòng nhập đúng 10 chữ số">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter your email" id="email"
                           name="email" required th:value="${user.email}"
                           pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                           title="Vui lòng nhập đúng định dạng địa chỉ email">
                </div>
                <!-- form-group -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Enter your password" id="password"
                           name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$"
                           title="Mật khẩu phải chứa ít nhất 8 ký tự, bao gồm một chữ hoa, một chữ thường, một chữ số và một ký tự đặc biệt (!@#$%^&*)."
                           required th:value="${user.password}">
                </div>
                <!-- form-group -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm your password" id="confirmPassword"
                           name="confirmPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$"
                           title="Mật khẩu phải chứa ít nhất 8 ký tự, bao gồm một chữ hoa, một chữ thường, một chữ số và một ký tự đặc biệt (!@#$%^&*)."
                           required th:value="${confirmPassword}">

                </div>
                <!-- form-group -->
                <span id="mess"></span>
                <div style="color: rgba(255,0,0,0.87)">
                    <div th:if="${successMessage != null}">
                        <div class="error"><strong>${successMessage}</strong></div>
                    </div>
                    <div th:if="${errorMessage != null}">
                        <div class="error"><strong>${errorMessage}</strong></div>
                    </div>
                </div>

                <div class="form-group tx-12">
                    By clicking the Sign Up button below you agreed to our privacy policy and terms
                    of use of our website.
                </div>
                <button type="submit" class="btn btn-info btn-block">Sign Up</button>
            </form>


            <div class="mg-t-60 tx-center">Already a member? <a href="${pageContext.request.contextPath}/login-page"
                                                                class="tx-info">Sign In</a></div>
        </div><!-- login-wrapper -->
    </div><!-- col -->
    <div class="col-md-6 bg-br-primary d-flex align-items-center justify-content-center">
        <div class="wd-250 wd-xl-450 mg-y-30">
            <div class="signin-logo tx-28 tx-bold tx-white"><span class="tx-normal">[</span> apelish <span
                    class="tx-info">hus</span> <span class="tx-normal">]</span></div>
            <div class="tx-white-7 mg-b-60">Đào tạo uy tín - chất lượng</div>

            <h5 class="tx-white">Tại sao chọn Apelish?</h5>
            <p class="tx-white-6">Apelish là một trung tâm đào tạo tiếng Anh uy tín, nơi học viên được trải nghiệm môi
                trường học tập thân thiện và chất lượng. Với đội ngũ giáo viên nhiệt tình, phương pháp giảng dạy hiện
                đại,
                Apelish cam kết mang đến cho học viên sự tiến bộ vượt bậc trong việc sử dụng tiếng Anh. Không chỉ tập
                trung vào ngữ pháp và từ vựng, Apelish còn khuyến khích phát triển kỹ năng giao tiếp tự tin và sáng
                tạo.</p>
            <p class="tx-white-6 mg-b-60">Đây thực sự là nơi lí tưởng để nâng cao khả năng tiếng Anh và mở ra những cơ
                hội
                mới trong tương lai.</p>
            <a href="${pageContext.request.contextPath}/home"
               class="btn btn-outline-light bd bd-white bd-2 tx-white pd-x-25 tx-uppercase tx-12 tx-spacing-2 tx-medium">Home</a>
        </div><!-- wd-500 -->
    </div>
</div><!-- row -->

<script th:src="@{/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/jquery-ui/ui/widgets/datepicker.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/lib/select2/js/select2.min.js}"></script>
<script>
    $(function () {
        'use strict';

        $('.select2').select2({
            minimumResultsForSearch: Infinity
        });
    });

    $('#password,#confirmPassword').on('keyup', function () {
        if ($('#password').val() == $('#confirmPassword').val()) {
            $('#mess').html('').css('color', 'green');
        } else
            $('#mess').html('Password và confirmPassword không khớp').css('color', 'red');
    });
</script>

</body>
</html>
